<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">SCHEDULE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">MOVIE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">CINEMA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">PROMOTION</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">MEMBER</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Q&A</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">CONTACT</a>
  </li>
</ul>