<div id="sub-menu">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">English</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">VietNamese</a>
    </li>
  </ul>
</div>

<div id="logo-gif">
  <img src="https://lottecinemavn.com/App_Themes/lotte/img/logo.gif" alt="logo-gif">
</div>